
.container{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 1100px;
}

.container .box{
    position: relative;
    overflow: hidden;
    height: 275px;
    transition: 0.5s;
}

.container .box:hover{
    z-index: 1;
    transform: scale(1.25);
    box-shadow: 0 25px 40px rgba(0, 0, 0, 5);
}

.container .box .imgBox{
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
}

.container .box .imgBox:before{
    content: '';
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: linear-gradient(180deg,rgb(126, 114, 114),rgb(126, 113, 113));
    mix-blend-mode: multiply;
    opacity: 0;
    transition: 0.5s;
}

.container .box:hover .imgBox:before{
    opacity: 1;
}

.container .box .imgBox img{
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15%;
}

.container .box .content{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    padding: 20px;
    align-items: flex-end;
}

.container .box .content h1{
    color: rgb(0, 68, 255);
    transition: 0.5s;
    text-transform: uppercase;
    font-size: 20px;
    transform: translateY(200px);
    font-weight: bolder;
}

.container .box:hover .content h1{
    transform: translateY(0);
    transition-delay: 0.1s;
}